<div class="action-bar">
    <!-- Start/end of game -->
    <div data-bind="visible: waitingToPlay">
        <p>In attesa dei giocatori</p>
        <p data-bind="visible: !wantToStart()">
            <button class="btn btn-default" data-bind="enable: canAddAi(), event: {vclick: addAi}">Aggiungi AI</button>
            <button class="btn btn-default" data-bind="enable: canRemoveAi(), event: {vclick: removeAi}">Rimuovi AI</button>
            <br/>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'original')}, enable: canStartGame">Inizia gioco normale</button>
            <button class="btn btn-default" data-bind="event: {vclick: start.bind(null, 'inquisitors')}, enable: canStartGame">Inizia gioco con Inquisitore</button>
        </p>
        <p data-bind="visible: wantToStart()">
            Non tutti i giocatori sono pronti, Iniziare senza di loro?<br/>
            <button class="btn btn-default" data-bind="event: {vclick: confirmStart.bind(null, null)}">Inizia</button>
            <button class="btn btn-default" data-bind="event: {vclick: cancelStart}">Indietro</button>
        </p>
    </div>
    <!-- ko if: !waitingToPlay() -->
    <div data-bind="visible: weHaveWon()">
        Hai vinto!<br/>
    </div>
    <div data-bind="visible: theyHaveWon()">
        <span data-bind="text: winnerName()"></span> ha vinto!<br/>
    </div>
    <div data-bind="visible: canPlayAgain()">
        <button class="btn btn-default" data-bind="event: {vclick: playAgain}">Gioca ancora</button>
    </div>
    <!-- /ko -->

    <!-- During game -->
    <div data-bind="visible: weAreInState('start-of-turn')">
        <!-- ko if: !targetedAction() -->
            Tocca a te:<br/>
            <!-- ko foreach: actionNames() -->
                <!-- ko if: actionPresentInGame($data) -->
                    <button class="btn btn-action" data-bind="enable: canPlayAction($data), event: {vclick: playAction}, css: buttonActionClass($data)">
                        <i data-bind="css: $data"></i>
                        <span data-bind="text: realActionName($data)"></span>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: targetedAction -->
            <i data-bind="css: targetedAction"></i>
            <span data-bind="text: targetedAction"></span>:
            <!-- ko foreach: state.players -->
                <!-- ko if: canTarget($index()) -->
                    <button class="btn btn-default" data-bind="text: name, event: {vclick: function() { playTargetedAction($index()); }}"></button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-link" data-bind="event: {vclick: cancelAction}">back</button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyAreInState('start-of-turn')">
        In attesa che <span data-bind="text: currentPlayerName()"></span> giochi
    </div>
    <div data-bind="visible: theyAreInState('exchange')">
        <i class="exchange"></i>
        In attesa che <span data-bind="text: currentPlayerName()"></span> cambi ruoli
    </div>
    <div data-bind="visible: weAreInState('exchange')">
        <i class="exchange"></i>
        Scegli <span data-bind="text: ourInfluenceCount()"></span> ruoli da tenere:<br/>
        <!-- ko foreach: state.state.exchangeOptions -->
            <button class="btn" data-bind="text: $data, css: exchangeOptionClass($index()), event: {vclick: function() {toggleExchangeOption($index());}}"></button>
        <!-- /ko -->
        <br/>
        <button class="btn btn-action btn-ambassador" data-bind="enable: exchangeOptionsValid(), event: {vclick: exchange}">
            <i class="exchange"></i>
            <span>Scambia</span>
        </button>
    </div>
    <div data-bind="visible: theyAreInState('interrogate')">
        <i class="interrogate"></i>
        In attesa che <span data-bind="text: currentPlayerName()"></span> interroghi <span data-bind="text: targetPlayerName()"></span>
    </div>
    <div data-bind="visible: weAreInState('interrogate')">
        <i class="interrogate"></i>
        <span data-bind="text: targetPlayerName()"></span> ha un
        <span class="label" data-bind="text: state.state.confession(), css: labelClass(state.state.confession())"></span><br/>

        Costringere <span data-bind="text: targetPlayerName()"></span> a cambiare per un altro ruolo?<br/>
        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, true)}">Sì</button>
        <button class="btn btn-default" data-bind="event: {vclick: interrogate.bind(null, false)}">No</button>
    </div>
    <div data-bind="visible: weAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        In attesa di blocchi o dubbi
    </div>
    <div data-bind="visible: theyAreInState('action-response')">
        <i data-bind="css: state.state.action"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weAreAlive() -->
            <br/>
            In attesa di blocchi o dubbi
        <!-- /ko -->
        <!-- ko if: weAreAlive() -->
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Consenti</span>
            </button>
            <!-- ko if: weCanBlock() -->
                <!-- ko foreach: blockingRoles() -->
                    <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                        <i class="block"></i>
                        <span data-bind="text: 'Blocca con ' + realRoleName($data)"></span>
                    </button>
                <!-- /ko -->
            <!-- /ko -->
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Dubita</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        In attesa di blocchi
    </div>
    <div data-bind="visible: theyAreInState('final-action-response')">
        <i data-bind="css: state.state.action"></i>
        <!-- ko if: !weCanBlock() -->
            In attesa di blocchi
        <!-- /ko -->
        <!-- ko if: weCanBlock() -->
            Ultima possibilità per bloccare<br/>
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Consenti</span>
            </button>
            <!-- ko foreach: blockingRoles() -->
                <button class="btn btn-action" data-bind="event: {vclick: block}, css: buttonActionClass($data)">
                    <i class="block"></i>
                    <span data-bind="text: 'Blocca con ' + $data"></span>
                </button>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div data-bind="visible: weAreTargeted('block-response')">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        In attesa di dubbi
    </div>
    <div data-bind="visible: theyAreTargeted('block-response') &amp;&amp; weAreAlive()">
        <i class="block"></i>
        <span data-bind="text: stateMessage()"></span><br/><br/>
        <!-- ko if: !weAreAlive() -->
            In attesa di dubbi
        <!-- /ko -->
        <!-- ko if: weAreAlive() -->
            <button class="btn btn-action" data-bind="event: {vclick: allow}, css: { 'btn-success': weAllowed(), 'btn-default': !weAllowed() }">
                <i class="allow"></i>
                <span>Consenti</span>
            </button>
            <button class="btn btn-action btn-default" data-bind="event: {vclick: challenge}, visible: weCanChallenge()">
                <i class="challenge"></i>
                <span>Dubita</span>
            </button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: weMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        Devi scoprire un tuo ruolo
        <!-- ko foreach: ourInfluence() -->
        <button class="btn" data-bind="text: role, css: buttonRoleClass(role()), visible: !revealed(), event: {vclick: reveal}"></button>
        <!-- /ko -->
    </div>
    <div data-bind="visible: theyMustReveal()">
        <span data-bind="text: stateMessage()"></span><br/><br/>
        In attesa che <span data-bind="text: toRevealPlayerName()"></span> riveli un ruolo
    </div>
</div>
